@use '../__builtins__/styles/common.scss' as *;

$form-collapse-prefix-cls: '#{$formily-prefix}-form-collapse';

.#{$form-collapse-prefix-cls} {
  width: 100%;

  &-errors-badge {
    line-height: 1;
    vertical-align: initial;
  }
}
