@use '../__builtins__/styles/common.scss' as *;

$array-table-prefix-cls: '#{$formily-prefix}-array-table';

.#{$array-table-prefix-cls} {
  width: 100%;
  .#{$formily-prefix}-form-item:not(.#{$formily-prefix}-form-item-feedback-layout-popover) {
    margin-bottom: 0 !important;
  }

  .el-table {
    .cell {
      overflow: visible;
    }

    .cell.el-tooltip {
      overflow: hidden;
    }
  }

  .#{$formily-prefix}-array-base-addition {
    margin-top: 8px;
  }

  .el-pagination {
    margin-top: 16px;
    text-align: right;

    .el-pagination__total {
      flex: 1;
      text-align: left;
    }
  }
}
