:root:root {
  --vp-c-brand: #4569d4;
  --formily-primary-rgb: 69, 105, 212;
  --vp-c-brand-soft: rgba(var(--formily-primary-rgb), .05);
}

.VPImage.logo {
  width: 150px;
  height: auto;
}

.vitepress-ep-demo-plugin__container>.vitepress-ep-demo-plugin-preview:has(.el-affix) {
  overflow-x: unset;
}