@use '../__builtins__/styles/common.scss' as *;

.#{$formily-prefix}-form-grid {
  display: grid;

  > [data-grid-span='-1'] {
    grid-column: 1 / -1;
  }

  @for $span from 1 through 24 {
    > [data-grid-span='#{$span}'] {
      grid-column: span #{$span} / auto;
    }
  }
}
