@use '../__builtins__/styles/common.scss' as *;

$form-query-prefix-cls: '#{$formily-prefix}-query-form';
$form-query-light-prefix-cls: '#{$formily-prefix}-query-form-light';

.#{$form-query-prefix-cls}__actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.#{$form-query-prefix-cls}__actions--row-end {
  justify-content: flex-end;
}

.#{$form-query-prefix-cls}__collapse-link {
  .el-link__inner {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    margin: 0 8px;
  }
}

.#{$form-query-prefix-cls}__collapse-icon {
  font-size: 12px;
}

.#{$form-query-light-prefix-cls}__content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 8px 12px;
}
